<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liolik.project.mapper.AccountMapper">
	<select id="getListAccount" resultType="com.liolik.project.dto.AccountDto">
		SELECT * from ACCOUNT
	</select>
	<insert id="writeAccount">
		INSERT INTO ACCOUNT (TDATE, STATE, CCODE, CUSTOMER, PCODE, PRODUCT, STOCK, PRICE, TOTAL) value (#{TDATE}, #{STATE}, #{CCODE}, #{CUSTOMER}, #{PCODE}, #{PRODUCT}, #{STOCK}, #{PRICE}, #{TOTAL})
	</insert>
	<update id="UpdateBalance">
		update CUSTOMER set BALANCE=BALANCE+#{TOTAL} where CCODE=#{CCODE}
	</update>
</mapper>